<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

   
    <bean id="myDonation" 
    	class="com.alkaf.spring.Cheo">
    </bean>
    
   
     <bean id="loblawsBean"
          class="com.alkaf.spring.Loblaws">
          <!-- set up constructor injection -->
          <constructor-arg ref="myDonation"></constructor-arg>
    </bean>
    
     <bean id="walmartBean"
          class="com.alkaf.spring.Walmart">
          
          <!-- set up constructor injection -->
    </bean>
    
    

</beans>
                
            